src/bin/models/rf_detr_small/rf-detr-small.onnx filter=lfs diff=lfs merge=lfs -text
src/bin/face_pipeline.app/Contents/Resources/models/rf_detr_small/rf-detr-small.onnx filter=lfs diff=lfs merge=lfs -text
src/bin/models/**/*.onnx filter=lfs diff=lfs merge=lfs -text
src/bin/models/**/*.onnx.data filter=lfs diff=lfs merge=lfs -text
src/bin/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
src/bin/**/*.dylib filter=lfs diff=lfs merge=lfs -text
src/bin/**/*.dll filter=lfs diff=lfs merge=lfs -text
src/bin/**/*.exe filter=lfs diff=lfs merge=lfs -text
src/bin/face_pipeline.app/Contents/MacOS/face_pipeline filter=lfs diff=lfs merge=lfs -text
src/bin/face_pipeline.app/Contents/Resources/models/**/*.onnx filter=lfs diff=lfs merge=lfs -text
src/bin/face_pipeline.app/Contents/Resources/models/**/*.onnx.data filter=lfs diff=lfs merge=lfs -text
src/bin/face_pipeline.app/Contents/Resources/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
